li{
    list-style: none;
}

a:link {
    color: darkolivegreen;
}

a:visited {
    color:darkgreen;
}

a:hover {
    color: orange;
}

a:active {
    color: darkslategrey;
}


footer{
    color: goldenrod;
    
}

button{
    color:white;
    background-color: darkolivegreen;
}

.img-redes{
    width: 200px;
}